<div flex layout="row" layout-padding>
    <md-content flex layout-padding id="content" class="submission-container">
        <form ng-controller="SubmissionFormController" name="submissionDoc" novalidate >

            <div layout-gt-sm="row" class="layout-gt-sm-row">
                <input type = "file" file-model = "myFile"  enctype="multipart/form-data"/>
                <!--<form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="displayImage"/>-->
               <!-- </form>-->
               <button class="btn btn-lg upload-btn" type="button" ng-click="uploadFile()">Confirm File</button>
            </div>

            
            </section>
        </form>
    </md-content>
</div>