<html>
   <head>
      <title>Open Conference</title>
      <script src="/scripts-angular1.5.8/jquery.min.js"></script>
      <script src="/scripts-angular1.5.8/jquery.dataTables.min.js"></script>
       <script type="text/javascript" src="/scripts-angular1.5.8/trix.js"></script>
      <script type="text/javascript" src="/scripts-angular1.5.8/angular.min.js"></script>
      <script src="/scripts-angular1.5.8/angular-datatables.min.js"></script>
      <link rel="stylesheet" href="/scripts-angular1.5.8/jquery.dataTables.min.css">
      <link rel="stylesheet" href="/scripts-angular1.5.8/angular-datatables.min.css">
       <link rel="stylesheet" href="/scripts-angular1.5.8/trix.css">
      <script type="text/javascript" src="/scripts-angular1.5.8/angular-animate.min.js"></script>
      <script type="text/javascript" src="/scripts-angular1.5.8/angular-cookies.min.js"></script>
      <script type="text/javascript" src="/scripts-angular1.5.8/angular-route.min.js"></script>
      <script type="text/javascript" src="/scripts-angular1.5.8/angular-messages.min.js"></script>
      <script type="text/javascript" src="/scripts-angular1.5.8/angular-aria.min.js"></script>
      <script type="text/javascript" src="/scripts-angular1.5.8/angular-material.min.js"></script>
      <script type="text/javascript" src="/scripts-angular1.5.8/angular-ui-router.min.js"></script>
      <script type="text/javascript" src="/scripts-angular1.5.8/v-accordion.min.js"></script>
       <script type="text/javascript" src="/scripts-angular1.5.8/angular-trix.min.js"></script>
      <script type="text/javascript" src="/scripts-angular1.5.8/angular-breadcrumb.min.js"></script>
      <script type="text/javascript" src="/application.js"></script>
      <link rel="stylesheet" href="/scripts-angular1.5.8/angular-material.min.css" />
      <link rel="stylesheet" href="/scripts-angular1.5.8/v-accordion.min.css" />
      <link rel="stylesheet" href="/css/custom.css" />
      <script type="text/javascript" src="controller/submission.controller.js"></script>
      <script src="controller/login.controller.js"></script>
      <script src="controller/leftpanel.controller.js"></script>
      <script src="controller/event.controller.js"></script>
      <script type="text/javascript" src="controller/review.controller.js"></script>
      <script type="text/javascript" src="services/authenticate.service.js"></script>
   </head>
   <body layout="column">
   <div id="content"  ui-view="header">

   </div>
   <!-- Container #3 -->
   <div flex layout="row">
      <!-- Container #3 -->
      <!--<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2" ng-if="currentUser" flex="25" ui-view="leftpanel">
      </md-sidenav>-->
      <!-- Container #4 -->
      <md-content flex layout="column">
         <div ncy-breadcrumb flex="7" ng-if="currentUser"></div>
         <md-content flex="93" id="content" ui-view="mainpanel">
         </md-content>
      </md-content>
   </div>
   </body>
