<div flex layout="row" layout-align="center" layout-padding>
    <md-content ng-controller="SubmitEventFormController" flex="40" layout-padding id="content" class="registration-container">
        <form name="eventForm" >
            <div layout-gt-md="column">
                <md-input-container class="md-block" flex-gt-md>
                    <input required ng-model="event.name" placeholder="Name">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-md>
                    <label>Keywords</label>
                    <input ng-model="event.keyword">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-md>
                    <label>Abstract</label>
                    <input required name="userName" ng-model="user.username">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm >
                    <label>Authors</label>
                    <md-select ng-model="event.authors" multiple >
                        <md-option ng-repeat="author in authors" value="{{author.id}}">
                            {{author.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm >
                    <label>Authors</label>
                    <md-select ng-model="event.authors" multiple >
                        <md-option ng-repeat="author in authors" value="{{author.id}}">
                            {{author.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <section layout="row" layout-sm="column" layout-align="end" layout-wrap>
                    <md-button ng-click="eventSubmit(event)" class="md-raised md-primary" ng-disabled="eventForm.$invalid">Submit</md-button>
                </section>
            </div>
        </form>
    </md-content>
</div>