<html>
<head>
    <script>
        function reset(){
            document.getElementById("usernm").value = "";
            document.getElementById("passwd").value = "";
        }
    </script>
</head>
<body layout="column">
<form class="form" ng-submit="login()">
    <div ng-controller="LoginController"  ng-cloak="" class="inputIcons" align="center">
        <h1 class="md-display-2">Open Conference Management System</h1>
        <br>
        <md-content class="autoScroll" style="margin-top: 7%">
            <md-input-container class="md-icon-float md-block" flex="25" align="center">
                <!-- Use floating label instead of placeholder -->
                <label>UserName (required)</label>
                <input ng-model="user.username" type="text" aria-setsize="10">
            </md-input-container>

            <md-input-container class="md-block" flex="25" align="center">
                <!-- Use floating placeholder instead of label -->
                <input ng-model="user.password" type="password" placeholder="Password (required)" ng-required="true">
            </md-input-container>

            <md-button class="md-raised" ng-click="login()"> Login </md-button>
            <md-button class="md-raised" onclick="reset()"> Reset </md-button>
            <p class="margin right-align medium-small"><a ui-sref="forgot_pass">Forgot Your Password</a>
                <a ui-sref="register">Register Now!!!</a></p>
        </md-content>
    </div>
</form>
</body>
