<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div flex ng-controller="EventUsersController" ng-init="renderUsersSubscribedInEvent()">
    <table datatable="ng" dt-options="dtOptions2" dt-column-defs="dtColumnDefs2" class="row-border hover" ng-init="initializeCols()">
        <thead>
        <tr>
            <th>Select</th>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="userApproved in usersApproved track by $index">
            <td><md-checkbox  aria-label="select User" ng-model="userApproved.clicked" ng-change="toggle(userApproved.id, selected)"></md-checkbox></td>
            <td>{{ userApproved.username }}</td>
            <td>{{ userApproved.firstName }}</td>
            <td>{{ userApproved.lastName }}</td>
            <td>{{ userApproved.email }}</td>
        </tr>
        </tbody>
    </table>
    <md-button ng-click="removeFromSubscribedUsers()" class="md-raised md-primary">
        Remove Subscription
    </md-button>
</div>
</body>
</html>