<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<v-accordion class="vAccordion--default" multiple onexpand="expandCallback(index, id)">

    <!-- add expanded attribute to open the section -->
    <v-pane id="events">
        <v-pane-header>
            Events
        </v-pane-header>

        <v-pane-content>
            <md-input-container class="md-block" flex-gt-xs>
             <input type="text" placeholder="search event by name" id="query" ng-model="query"/>
            </md-input-container>
            <md-list  ng-cloak>
                <md-list-item class="noright" ng-class="{ 'nav-active': event == activeItem }" ng-click="openEvent(event)" ng-repeat="event in events | filter:query">
                    <p> {{ event.name }} </p>
                </md-list-item>
            </md-list>
        </v-pane-content>
    </v-pane>


</v-accordion>
</body>
</html>